{% load static %}

<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="UTF-8" />
      <title>Rule 110 simulation</title>
      <link rel="stylesheet" href="{% static 'simulator/css/style.css' %}" />
      <script src="{% static 'simulator/js/script.js' %}"></script>
      <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico">  -->
    </head>

    <body>
      <div id="wrapper">
        <div id="sidebar">
          <h1>cellular automata simulator</h1>
          <div id="controls">
            <div>
              <label
                >Initial: <input type="text" id="initialInput" value="010"
              /></label>
            </div>
            <div>
              <label
                >Rule: <input type="number" id="ruleInput" value="110"
              /></label>
            </div>
            <div>
              <label
                >Steps: <input type="number" id="stepsInput" value="100"
              /></label>
            </div>

            <button onclick="fetchAndRenderRule110()">Run</button>
          </div>
        </div>

        <div id="grid"></div>
      </div>
    </body>
  </html>
</html>
